body
{
    background-color: aqua;
}

nav
{
    background-color: blue;
}

nav ul
{
    margin: 0em;
    list-style-type: none;
    padding-left: 0em;
}

nav ul li
{
    display: inline;
    padding: 0em 1em 0em 1em;
}

nav ul li a:link, nav ul li a:visited
{
    color: yellow;
}

nav ul li.selected
{
    background-color: red;
    font-weight: bold;
    border: solid;
}

ol.hobbyprojects_list
{
    padding-left: 3em;
}
